[user]
  name = Gunnar Wagenknecht
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,tab-in-indent,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[branch]
  autosetuprebase = always
[branch "master"]
  rebase = true
[push]
  default = simple
[pull]
  rebase = true
[credential]
	helper = cache --timeout=86400
[status]
	submodulesummary = 1
